body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px;
}

.filter-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
}

.filter-container select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.card {
  width: 25%;
  display: flex;
  border: 1px solid #ced4da;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
}